/**
 * @name Clouds
 * @description A beautiful theme for discord clients.
 * @authorOfEdit dannyluvvv
 * @website https://.github.io/dannyluvvv
 * @version 0.9.0
 * @updateUrl https://github.com/dannyluvvv/customedit-basicbackground/edit/main/clouds-basicbackground.theme.css
 */



@import url(https://raw.githubusercontent.com/dannyluvvv/customedit-basicbackground/main/clouds.css);


}
:root {
	--transparencycolor:			0,0,0;						/* default: 0,0,0																								*/
	--transparencyalpha:			0.55;						/* default: 0.15				(general darkness of the app)													*/
	--messagetransparency:			0.0;						/* default: 0.5					(additional shadows behind messages, set to 0 to remove boxes)					*/
	--guildchanneltransparency:		0.2;						/* default: 0.15				(additional darkness for guild/channel list)									*/
	--chatinputtransparency:		0.0;						/* default: 0.0					(additional darkness for chat input container)									*/
	--memberlisttransparency:		0.2;						/* default: 0.0					(additional darkness for member list)											*/
	--input-background: 			rgba(var(--transparencycolor), 0.2);
	--channeltextarea-background: 		rgba(var(--transparencycolor), 0.1);
	--background-accent: 			rgba(var(--transparencycolor), .5);
	--logo-primary: 			pink; /*default rgb(var(--textbrightest))*/
	--background-primary: 			rgba(var(--transparencycolor), .2);
	--background-secondary: 		rgba(var(--transparencycolor), .2);
	--background-secondary-alt: 		rgba(var(--transparencycolor), .2);
	--background-tertiary: 			rgba(var(--transparencycolor), .2);
	--background-floating: 			rgba(var(--transparencycolor), .2);
	--background-mobile-primary: 		rgba(var(--transparencycolor), .2);
	--background-mobile-secondary: 		rgba(var(--transparencycolor), .2);
	--background-modifier-accent: 		rgba(var(--textbrightest),.15);
	--background-message-automod: 		rgba(var(--dangercolor),.15);
	--background-message-automod-hover: 	rgba(var(--dangercolor),.2);
	
	/*colors*/
	--successcolor: 				91, 164, 94;
	--warningcolor: 				205, 25, 70;
	--settingsiconsgap: 				0;
	--dangercolor: 					200, 100, 200;
	--accentcolor:					156,109,163,1;				/* default: 190,78,180			(RGB-format - blurple: 88,101,242 bd-blue: 58,113,193)							*/
	--accentcolor2:					156,109,180,1; 				/*default: var(--accentcolor)*/
	--mentioncolor:					205,25,70; 				/*default: var(--accentcolor)*/
	--linkcolor:					200, 120, 200; 				/*default: var(--accentcolor)*/

	--font:						"gg sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;		/* font used in most places								*/
	--textshadow:					purple;					/* default: transparent			(textshadow for text ontop of accentcolor nodes, ONLY accepts a color, no px)	*/
	--settingsicons:				1;					/* Use Settings Icons in User/Server/Channel Settings: 1 = yes, 0 = no											*/
	
	--background:					url(https://github.com/dannyluvvv/customedit-basicbackground/blob/main/images/s2rCM7Y.jpg?raw=true);/*general image*/
	
	--backgroundposition:				center;					/* default: center				(position of background - values: [center/top/right/bottom/left])				*/
	--backgroundsize:				cover;					/* default: cover				(sizefit of background - values: [cover/contain/auto])							*/
	--backgroundblur:				5;					/* default: unset				(blur in px, only works when --background is set to an image)					*/
	
	--popout:					var(--background);			/* default: var(--background)	(change to use another background/color for modals/popouts)						*/
	--popoutposition:				var(--backgroundposition);		/* default: center				(position of popout - values: [center/top/right/bottom/left])					*/
	--popoutsize:					var(--backgroundsize);			/* default: cover				(sizefit of popout - values: [cover/contain/auto])								*/
	--popoutblur:					var(--backgroundblur);			/* default: var(--backgroundblur)				(blur in px, only works when --popout is set to an image)						*/
	
	--backdrop:					rgba(0,0,0,0.6);			/* default: rgba(0,0,0,0.85)	(change to use another background/color for backdrops)							*/
	--backdropposition:				center;					/* default: center				(position of backdrop - values: [center/top/right/bottom/left])					*/
	--backdropsize:					cover;					/* default: cover				(sizefit of backdrop - values: [cover/contain/auto])							*/
	--backdropblur:					0;					/* default: unset				(blur in px, only works when --backdrop is set to an image)						*/
	
	--textbrightest: 				255, 255, 255;				/* default: 255,255,255			(text color for the brightest texts)											*/
	--textbrighter: 				238, 200, 238;				/* default: 222,222,222			(text color for brighter texts)													*/
	--textbright: 					238, 202, 238;				/* default: 200,200,200			(text color for bright texts)													*/
	--textdark: 					194, 157, 174;				/* default: 160,160,160			(text color for dark texts)														*/
	--textdarker: 					145, 133, 138;				/* default: 125,125,125			(text color for darker texts)													*/
	--textdarkest: 					130, 115, 125;				/* default: 90,90,90			(text color for the darkest texts)												*/
	
	--version:					none;					/* DO NOT CHANGE THIS VARIABLE , USED TO HIDE UPDATE NOTICE		
	*/
	
}

