/**
 * @name qov-ui-refresh
 * @description A beautiful theme for discord clients.
 * @authorOfEdit dannyluvvv
 * @website https://.github.io/dannyluvvv
 * @version x
 * @updateUrl https://github.com/dannyluvvv/customedit-basicbackground/edit/main/clouds-ui-refresh.css
 */
@import url(https://raw.githubusercontent.com/dannyluvvv/customedit-basicbackground/main/clouds-ui-refresh.css);

:root {
    --spacing-4: 4px;
    --spacing-8: 8px;
    --spacing-12: 12px;
    --spacing-16: 16px;
    --spacing-24: 24px;
    --spacing-32: 32px;
    --spacing-40: 40px;
    --spacing-48: 48px;
    --spacing-56: 56px;
    --spacing-64: 64px;
    --spacing-72: 72px;
    --spacing-80: 80px;
    --spacing-96: 96px;
    --size-0: 0px;
    --size-4: 4px;
    --size-8: 8px;
    --size-12: 12px;
    --size-16: 16px;
    --size-20: 20px;
    --size-24: 24px;
    --size-32: 32px;
    --size-48: 48px;
    --size-64: 64px;
    --size-80: 80px;
    --size-96: 96px;
    --size-128: 128px;
    --size-160: 160px;
    --size-192: 192px;
    --size-xxs: var(--size-4);
    --size-xs: var(--size-8);
    --size-sm: var(--size-12);
    --size-md: var(--size-16);
    --size-lg: var(--size-20);
    --size-xl: var(--size-24);
    --size-xxl: var(--size-32);
    --breakpoint-480: 480px;
    --breakpoint-640: 640px;
    --breakpoint-768: 768px;
    --breakpoint-1024: 1024px;
    --breakpoint-1280: 1280px;
    --breakpoint-1536: 1536px;
    --breakpoint-1800: 1800px;
    --breakpoint-2500: 2500px;
    --breakpoint-xxs: 480px;
    --breakpoint-xs: 640px;
    --breakpoint-sm: 768px;
    --breakpoint-md: 1024px;
    --breakpoint-lg: 1280px;
    --breakpoint-xl: 1536px;
    --breakpoint-xxl: 1800px;
    --breakpoint-max: 2500px;
    --space-0: 0px;
    --space-4: 4px;
    --space-6: 6px;
    --space-8: 8px;
    --space-10: 10px;
    --space-12: 12px;
    --space-16: 16px;
    --space-20: 20px;
    --space-24: 24px;
    --space-26: 26px;
    --space-30: 30px;
    --space-32: 32px;
    --space-40: 40px;
    --space-48: 48px;
    --space-64: 64px;
    --space-80: 80px;
    --space-96: 96px;
    --space-128: 128px;
    --space-160: 160px;
    --space-192: 192px;
    --space-xs: var(--space-8);
    --space-sm: var(--space-12);
    --space-md: var(--space-16);
    --space-lg: var(--space-20);
    --space-xl: var(--space-24);
    --space-xxl: var(--space-32)
}

.density-compact,:root {
    --space-xxs: var(--space-4)
}

.density-compact {
    --space-xs: var(--space-6);
    --space-sm: var(--space-10);
    --space-md: var(--space-12);
    --space-lg: var(--space-16);
    --space-xl: var(--space-20);
    --space-xxl: var(--space-26)
}

.density-cozy {
    --space-xxs: var(--space-4);
    --space-xs: var(--space-10);
    --space-sm: var(--space-16);
    --space-md: var(--space-20);
    --space-lg: var(--space-24);
    --space-xl: var(--space-30);
    --space-xxl: var(--space-40)
}

.density-default {
    --space-xxs: var(--space-4);
    --space-xs: var(--space-8);
    --space-sm: var(--space-12);
    --space-md: var(--space-16);
    --space-lg: var(--space-20);
    --space-xl: var(--space-24);
    --space-xxl: var(--space-32)
}

:root {
    --radius-none: 0px;
    --radius-xs: 4px;
    --radius-sm: 8px;
    --radius-md: 12px;
    --radius-lg: 16px;
    --radius-xl: 24px;
    --radius-xxl: 32px;
    --radius-round: 2147483647px
}

.theme-dark {
    --guild-header-text-shadow: 0 1px 1px hsl(var(--black-500-hsl)/0.4);
    --elevation-stroke: 0 0 0 1px hsl(var(--primary-900-hsl)/0.15);
    --elevation-low: 0 1px 0 hsl(var(--primary-900-hsl)/0.2),0 1.5px 0 hsl(var(--primary-860-hsl)/0.05),0 2px 0 hsl(var(--primary-900-hsl)/0.05);
    --elevation-medium: 0 4px 4px hsl(var(--black-500-hsl)/0.16);
    --elevation-high: 0 8px 16px hsl(var(--black-500-hsl)/0.24)
}

.theme-light {
    --guild-header-text-shadow: 0 1px 1px hsl(var(--white-500-hsl)/0.4);
    --elevation-stroke: 0 0 0 1px hsl(var(--primary-860-hsl)/0.08);
    --elevation-low: 0 1px 0 hsl(var(--primary-860-hsl)/0.1),0 1.5px 0 hsl(var(--primary-900-hsl)/0.025),0 2px 0 hsl(var(--primary-860-hsl)/0.025);
    --elevation-medium: 0 4px 4px hsl(var(--black-500-hsl)/0.08);
    --elevation-high: 0 8px 16px hsl(var(--black-500-hsl)/0.16)
}

:root {
    --channels-name-line-height: 120px;
    --channels-spine-inverted-offset-top: 8px;
    --channels-spine-offset-left: 22px;
    --chat-avatar-size: 140px;
    --chat-input-icon-size: 24px;
    --chat-markup-line-height: 1.375rem;
    --chat-resize-handle-width: 8px;
    --form-input-height: 48px;
    --guildbar-avatar-size: 90px;
    --guildbar-folder-size: 148px;
    --modal-horizontal-padding: 16px;
    --modal-vertical-padding: 16px;
    --modal-width-large: 800px;
    --modal-width-medium: 600px;
    --modal-width-small: 440px
}

.visual-refresh {
    --chat-input-icon-size: 20px;
    --form-input-height: 44px;
    --guildbar-avatar-size: 40px;
    --modal-horizontal-padding: 24px;
    --modal-width-medium: 602px;
    --modal-width-small: 442px
}

.visual-refresh.density-compact {
    --channels-name-line-height: 20px;
    --channels-spine-inverted-offset-top: 2px;
    --channels-spine-offset-left: 20px
}

.visual-refresh.density-default {
    --channels-name-line-height: 24px;
    --channels-spine-inverted-offset-top: 6px;
    --channels-spine-offset-left: 24px
}

.visual-refresh.density-cozy {
    --channels-name-line-height: 28px;
    --channels-spine-inverted-offset-top: 9px;
    --channels-spine-offset-left: 28px
}

a,abbr,acronym,address,applet,big,blockquote,body,caption,cite,code,dd,del,dfn,div,dl,dt,em,fieldset,form,h1,h2,h3,h4,h5,h6,html,iframe,img,ins,kbd,label,legend,li,object,ol,p,pre,q,s,samp,small,span,strike,strong,table,tbody,td,tfoot,th,thead,tr,tt,ul,var {
    margin: 0;
    padding: 0;
    border: 0;
    font-weight: inherit;
    font-style: inherit;
    font-family: inherit;
    font-size: 100%;
    vertical-align: baseline
}

a {
    color: var(--text-link);
    -webkit-text-decoration: none;
    text-decoration: none;
    cursor: pointer
}

a img {
    border: none
}

body {
    line-height: 1;
    margin: 0;
    padding: 0;
    font-family: var(--font-primary);
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background: transparent
}

p {
    margin: 14px 0
}

ol,ul {
    list-style: none
}

::-moz-placeholder {
    font-family: var(--font-primary);
    font-weight: 400
}

::placeholder,input,select,textarea {
    font-family: var(--font-primary);
    font-weight: 400
}
button {
    font-family: var(--font-primary);
    font-weight: 500;
    border: 0;
    cursor: pointer
}

code {
    font-family: var(--font-code);
    font-size: 14px;
    line-height: 16px
}
.message__89466 {
    position: relative;
    border-radius: 3px;
    overflow: hidden;
    padding-top: 10px;
    padding-bottom: 10px;
    pointer-events: none;
    background-color: var(--background-primary);
    box-shadow: var(--legacy-elevation-border),var(--legacy-elevation-high)
}

.wrapper_f563df {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 1fr;
    justify-items: center;
    padding: 4px 0 6px 2px
}

.sidebarScrollable__53543 {
    position: absolute;
    top: 0;
    bottom: 0;
    width: var(--custom-layout-sidebar-width)
}

.sidebarScrollable__53543+.content__53543 {
    margin-left: var(--custom-layout-sidebar-width);
    max-width: 468px
}

.scroller__53543 {
    overflow-y: auto;
    overflow-x: hidden;
    background-color: var(--background-primary);
    height: 100%
}

.profileCard__9e177 {
    margin-top: 16px;
    margin-bottom: 16px;
    height: 100%;
    width: 180px;
    border-radius: var(--radius-sm);
    border: 1px solid var(--background-secondary-alt);
    background-color: var(--background-secondary);
    box-shadow: 0 8px 16px rgba(0,0,0,.1);
    box-sizing: border-box;
    overflow: hidden
}

.avatarContainer__9e177 {
    background-color: var(--background-primary);
    height: 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 16px
}

.avatarName__9e177 {
    margin-top: 8px
}

.roles__9e177 {
    position: absolute;
    top: 152px;
    filter: drop-shadow(0 8px 16px rgba(0,0,0,.1));
    opacity: 1
}
.visual-refresh .slateTextArea_ec4baf {
    box-sizing: border-box;
    min-height: var(--custom-channel-textarea-text-area-height);
    padding: calc(var(--custom-channel-textarea-text-area-height) / 2 - var(--chat-markup-line-height) / 2) 0;
    margin-left: 10px;
}

.avatar_c19a55 {
    position: absolute;
    left: var(--custom-message-margin-horizontal);
    margin-top: calc(4px - var(--custom-message-spacing-vertical-container-cozy));
    width: var(--chat-avatar-size);
    height: var(--chat-avatar-size);
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    flex: 0 0 auto;
    pointer-events: none;
    z-index: 1
}